// loader
.-ii-loader {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: auto;
	width: 10px;
	height: 10px;
	background-color: #FFFFFF;
	animation: rotate 1s infinite ease-in-out;
	transition: opacity 0.3s ease;	
	position: absolute;
	top: ~"calc(50% - 5px)";
	right: 25px;
}
.-ii-loader-stop{
	// border-radius: 0%;
	animation: rotate 0.3s ease-in-out;
	animation-iteration-count: 0;
	opacity: 0.2;
	transition: opacity 0.3s ease-in-out,transform 0.1s ease-in-out;
	// transform: scale(0.7);
}
.-ii-loader-vert{
	top: initial;
	right: initial;
	left: ~"calc(50% - 5px)";
	bottom: 25px;
}

@keyframes rotate {
  0% {
    transform: perspective(20px) rotateX(0deg) rotateY(0deg);
  }
  50% {
    transform: perspective(20px) rotateX(-180deg) rotateY(0deg);
  }
  100% {
    transform: perspective(20px) rotateX(-180deg) rotateY(-180deg);
  }
}